<ng-container>
    <form [formGroup]="registerForm">
      <div *ngFor="let field of registerConfig">
        <label>{{ field | titlecase }}</label>
        <input [formControlName]="field" [type]="field === 'password' ? 'password' : 'email'">
        <div *ngIf="registerForm.get(field)?.errors?.['required']">
          {{ field | titlecase }} is required
        </div>
      </div>
      <button type="submit" (click)="onSubmit()" [disabled]="!registerForm.valid">Register</button>
    </form>
  </ng-container>