<header id="dynamic-header">
    <nav>
      <ul>
        <li><a routerLink='/dashboard/chrome' routerLinkActive="active">Chrome</a></li>
        <li><a routerLink='/dashboard/main' routerLinkActive="active">Main</a></li>
        <li><a routerLink='/dashboard/vm1' routerLinkActive="active">VM1</a></li>
        <li><a routerLink='/dashboard/vm2' routerLinkActive="active">VM2</a></li>
        <li><a routerLink='/dashboard/css-things' routerLinkActive="active">CSS Things</a></li>
        <li><a routerLink='/dashboard/move' routerLinkActive="active">Move</a></li>
        <!-- Add more links as needed -->
      </ul>
    </nav>
  </header>