<h1>Z-Index 1</h1>

    <div class="green-background" style="z-index: 1;"></div>


<!-- <div class="box-1">
    <div class="box-1-a">
        <div class="box-1-a-1" >
           
        </div>
        <div class="box-1-a-2">
        </div>
        <div class="box-1-a-3">
        </div>
    </div>
    <div class="box-1-b">
        <div class="box-1-b-1">
        </div>
        <div class="box-1-b-2">
        </div>
        <div class="box-1-b-3">
        </div>
    </div>
    <div class="box-1-c">
        <div class="box-1-c-1">
        </div>
        <div class="box-1-c-2">
        </div>
        <div class="box-1-c-3">
        </div>
    </div>
</div>
<div class="box-2">
    <div class="box-2-a">
        <div class="box-2-a-1">
        </div>
        <div class="box-2-a-2">
        </div>
        <div class="box-2-a-3">
        </div>
    </div>
    <div class="box-2-b">
        <div class="box-2-b-1">
        </div>
        <div class="box-2-b-2">
        </div>
        <div class="box-2-b-3">
        </div>
    </div>
    <div class="box-2-c">
        <div class="box-2-c-1">
        </div>
        <div class="box-2-c-2">
        </div>
        <div class="box-2-c-3">
        </div>
    </div>
</div> -->
