<div id="threejs-container" style="width: 100%; height: 100%;"></div>

<app-general-controls (modeChanged)="handleModeChanged($event)"></app-general-controls>
<app-cube-controls (cubeAdded)="handleCubeAdded($event)"></app-cube-controls>
<app-material-properties (materialChanged)="handleMaterialChanged($event)"></app-material-properties>
<app-geometry-modifications (geometryChanged)="handleGeometryChanged($event)"></app-geometry-modifications>
<app-cube-lighting (lightingChanged)="handleLightingChanged($event)"></app-cube-lighting>
<app-cube-animation (animationChanged)="handleAnimationChanged($event)"></app-cube-animation>
<app-environment-effects (effectsChanged)="handleEffectsChanged($event)"></app-environment-effects>
<app-cube-lighting (lightingChanged)="handleLightingChanged($event)"></app-cube-lighting>