<!-- <app-header></app-header> -->
<div id="dynamic-header">
    <nav>
      <ul>
        <li><a routerLink='chrome' routerLinkActive="active">Chrome</a></li>
        <li><a routerLink='main' routerLinkActive="active">Main</a></li>
        <li><a routerLink='vm1' routerLinkActive="active">VM1</a></li>
        <li><a routerLink='vm2' routerLinkActive="active">VM2</a></li>
        <li><a routerLink='css-things' routerLinkActive="active">CSS Things</a></li>
        <li><a routerLink='move' routerLinkActive="active">Move</a></li>
        <!-- Add more links as needed -->
      </ul>
    </nav>
</div>
<br>
<br>
<br>
<br>
<h1>Bienvenido {{ username }}</h1>

<h2>Vamos a personalizar esto!</h2>

<h3>Pagina de inicio</h3>

<p>Esta es la pagina de inicio</p>
<p>Aca elegis  QUE VER | COMO CONTROLARLO | COMO EDITAR LA INTERFAZ</p>
