<div class="data-container">
    <div class="button-container">
      <button (click)="setMode('cubeRotation')">Cube Rotation</button>
      <button (click)="setMode('cubePosition')">Cube Position</button>
      <button (click)="setMode('sceneRotation')">Scene Rotation</button>
      <button (click)="setMode('scenePosition')">Scene Position</button>
      <button (click)="setMode('cameraRotation')">Camera Rotation</button>
      <button (click)="setMode('cameraPosition')">Camera Position</button>
    </div>
  </div>