// Updated to incorporate z-axis data for accelerometer display
// <app-accelerometer-display [x]="accelX" [y]="accelY" [z]="accelZ"></app-accelerometer-display>
// <app-gyroscope-display [x]="alpha" [y]="gyroBeta" [z]="gyroGamma"></app-gyroscope-display>   


.real-express{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

