
h1{
    color: bisque;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: white;
}

.green-background {
    // background-color: green;
    // color: white;
    position: absolute;
    width: 100px;
    
    height: 100px;
    padding: 10px;
    margin: 5px;
  }