<h1>Imove. Mueve el Mouse con el celular</h1>
<!-- <button (click)="sendMessage()">Send Test Message</button> -->
<ng-container *ngIf="electronService.isElectron; else noElectron">
    <p>
        We are using Node.js <span id="node-version"></span>,
        Chromium <span id="chrome-version"></span>,
        and Electron <span id="electron-version"></span>.  
    </p>
    
    <h1>Escaneá el QR con el Celular o la Tablet </h1>
</ng-container>
<ng-template #noElectron   >
    <h1>Poné el celular con la pantalla hacia el cielo.</h1>
    <h2>Vale tocar la pantalla y hace click!</h2>
</ng-template>
<!-- <pre id="messages"></pre>
<div id="accelerometerData"></div>
<div id="gyroscopeData"></div> -->

<!-- Buttons to toggle event handling -->
<button disabled (click)="toggleRemoteClick()"  [ngClass]="{'active': (toggleRemoteClickk)}">Toggle Remotely Click</button>
<button  (click)="toggleEventHandling()" [ngClass]="{'active': (toggleEventHandlingg)}">Toggle Event Handling</button>
<button (click)="toggleAccelerometerHandling()" [ngClass]="{'active': (toggleAccelerometerr)}">Toggle Accelerometer Handling</button>
<button (click)="toggleAccelerometerIncludingGravityHandling()" [ngClass]="{'active': (toggleAccelerometerIncludingGravityy)}">Toggle Accelerometer Including Gravity Handling</button>
<button (click)="toggleGyroscopeHandling()" [ngClass]="{'active': (toggleGyroscopee)}">Toggle Gyroscope Handling</button>
<button (click)="toggleClickHandling()" [ngClass]="{'active': (toggleClickk)}">Toggle Click Handling</button>
<button (click)="toggleMousePosHandling()" [ngClass]="{'active': (toggleMousePoss)}">Toggle Mouse Position Handling</button>
<button (click)="toggleClientEventHandling()" [ngClass]="{'active': (toggleClientEventHandlingg)}">Toggle Client Event Handling</button>

<!-- <app-another-subscriber class="accomodation"></app-another-subscriber> -->

<app-real-express *ngIf="toggleClientEventHandlingg" class="real-express"></app-real-express>



