<h1>Imove. Mueve el Mouse con el celular</h1>
<ng-container *ngIf="electronService.isElectron; else noElectron">
    <p>
        We are using Node.js <span id="node-version"></span>,
        Chromium <span id="chrome-version"></span>,
        and Electron <span id="electron-version"></span>.  
    </p>
    <div class="qrclass">

    
    <div *ngIf="wifiQrCodeUrl">
        <h1>Escaneá el QR para conectarte a la red WIFI </h1>
      <img [src]="wifiQrCodeUrl" alt="WIFI QR Code">
    </div>
   
    <div *ngIf="qrCodeUrl">
        <h1>Escaneá el QR con el Celular o la Tablet </h1>
      <img [src]="qrCodeUrl" alt="QR Code">
    </div>
</div>
</ng-container>
<ng-template #noElectron>
    <h1>Poné el celular con la pantalla hacia el cielo</h1>
    <h2>Vale tocar la pantalla y hace click!</h2>
</ng-template>
<!-- <pre id="messages"></pre>
<div id="accelerometerData"></div>
<div id="gyroscopeData"></div> -->

<!-- Buttons to toggle event handling -->
<button (click)="toggleRemoteClick()"  [ngClass]="{'active': (toggleRemoteClickk)}">Mover Canvas con mouse</button>
<button (click)="toggleEventHandling()" [ngClass]="{'active': (toggleEventHandlingg)}">Mover canvas con sensores</button>
<br>
<button (click)="toggleAccelerometerHandling()" [ngClass]="{'active': (toggleAccelerometerr)}">Usar Accelerometer</button>
<button (click)="toggleAccelerometerIncludingGravityHandling()" [ngClass]="{'active': (toggleAccelerometerIncludingGravityy)}">Usar Accelerometer Including Gravity</button>
<button (click)="toggleGyroscopeHandling()" [ngClass]="{'active': (toggleGyroscopee)}">Usar Gyroscope </button>
<br>
<button (click)="toggleClickHandling()" [ngClass]="{'active': (toggleClickk)}">Permitir hacer click en host con cliente</button>
<button (click)="toggleMousePosHandling()" [ngClass]="{'active': (toggleMousePoss)}">Permitir mover el cursor del host con el cliente</button>
<br>
<button (click)="toggleClientEventHandling()" [ngClass]="{'active': (toggleClientEventHandlingg)}">Mostrar CANVAS</button>

<!-- <app-another-subscriber class="accomodation"></app-another-subscriber> -->

<app-real-express *ngIf="toggleClientEventHandlingg" class="real-express"></app-real-express>



